/*POLICES*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');




:root {
    --bleu-cyan: #32A3B6;
    --noir-gris: #2F2E2E;
    --white: #E7E7E7;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-size: 62.5%;
    font-family: 'raleway',arial,sans-serif;
    overflow-x: hidden;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* HEADER */

header {
    background: url(./img/fond-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    position: relative;
}

h1 {
    color: #E7E7E7;
    font-size: 6rem;
    font-family: 'Amatic SC';
    font-weight: 500;
    position: absolute;
    top: 30%;
    left:20%
}
/* NAVBAR */
.nav-container {
    width: 100%;
    margin: 0 auto;
  }

nav {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;

}

nav ul li {
    color: var(--white);
    list-style: none;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a, nav ul li a:visited {
    text-decoration: none;
    color: var(--white);
    display: block;
}

nav ul li a:hover {
    color: var(--bleu-cyan);
}

/* Introduction */

.presentation { 
    display: flex;
    align-items: center;
}

.txt-presentation {
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.txt-presentation p {
    text-align: justify;
    width: 70%;
}
.cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cv img {
    width: 50%;
}

/* BTN telecharger */
.btn-telecharger {
    margin: 30px 0;
    font-size: 1.2rem;
    position: relative;
    color: #fff;
}

.btn-telecharger::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--bleu-cyan);
    border-radius: 10px;
    width: 200px;
    height: 40px;
    left:-45px;
	top:-8px;
    z-index: -1;
    
}

/* Citation */

.citation {
    background: url(./img/fond-citation.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citation h3 {
    font-size: 2rem;
    font-family: 'Dosis',arial,sans-serif;
    font-weight: 400;
    color: var(--white);
    width: 70%;
    text-align: center;
    margin: 100px 0 0 0;
}

.citation hr {
    margin: 30px 0;
    width: 200px;
    height: 3px;
    background-color: var(--white);
    color: var(--white);
}

.citation h4 {
    font-size: 1.6rem;
    color: var(--white);
    margin-bottom: 100px;
}

/* Competences */

.competences {
    height:140vh;
 } 

 .hexagone
  {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
  }
  
  .hexagone-cell
  {
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
  }
  .hexagone-cell_img
  {
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
  }
  .hexagone-cell_title
  {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
  }
  .hexagone-cell_title > small
  {
    font-weight: 300;
    margin-top: 0.25em;
  }

.hexagone-cell_title div {
    position: absolute;
    left: 27px;
}

.hexagone-cell p {
    opacity: 0;
}
.hexagone-cell img {
    width:192px;
    height: 192px;
    
}

  .hexagone-cell::before,
  .hexagone-cell::after
  {
    content: '';
  }
  .hexagone-cell::before,
  .hexagone-cell::after
  {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
  }
  .hexagone-cell::before
  {
    background: #fff;
    transform: scale(1.055);
  }
  .hexagone-cell::after
  {
    background: #111111;
    opacity: 0.7;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
  }

  .hexagone-cell:hover
  .hexagone-cell_img
  {
    filter: grayscale(0%);
  }

  .hexagone-cell:hover p {
      opacity: 1;
  }

  .hexagone-cell:hover img {
      display: none;
  }

  .hexagone-cell:hover::before
  {
    background: var(--bleu-cyan);
  }
  .hexagone-cell:hover::after
  {
    opacity: 0;
  }
  .hexagone_Hidden
  {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
  }

/* Portfolio */

.portfolio {
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio hr {
    width: 100px;
    height: 3px;
    background-color: #222;
}

.portfolio p {
    margin: 30px 0;
}

/* Gallerie projets */

.gallerie {
    max-width: 1300px;
    width: 90%;
    height: auto;
    margin: 50px 0 100px 0;
    display:grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 40px; 
    
}

.projet{
    position: relative;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-radius: 26px;
    height: 275px;
    width: 400px;
}

.projet:hover img {
    opacity: 0.6;
    transition: 0.5s ease;
} 
.projet:hover p{
    opacity: 1;
    transition: 0.5s ease;
}
.projet p {
    position: absolute;
    font-size: 1.2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.projet img {
    width: 400px;
    height: 275px;
    border-radius: 25px;
}

/* Contact */

.contact {
    background-color: var(--noir-gris);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2{
    margin: 0;
    padding: 20px 0 ;
}

.contact hr {
    width: 100px;
    background-color: #fff;
    height: 3px;
}
.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin:50px 0;
}

.txt-form, .mail-form {
    width: 60vh;
    margin-bottom: 20px ;
    
}

.txt-form {
    height: 200px;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:20px 0;
}

/* FOOTER */

footer {
    background-color: var(--noir-gris);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
}

.container-footer {
    width: 80%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.container-mail {
    display: flex;
    justify-content: end;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: row;
}

/* Format moyen ecran */

@media (min-width: 550px) and (max-width: 825px) {
    .presentation {
        flex-direction: column;
    }

    .txt-presentation {
        max-width: 90%;
    }

    h2 {
        margin: 30px 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
    .competences {
        height:180vh;
     }
    .hexagone-cell:nth-child(3n)  {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }

    .hexagone_Hidden:nth-child(3n + 5) {
        display: block;
    }
}

/* Format petit ecran */
@media screen and (max-width:550px) {

    h2 {
        font-size:2.5rem
    }

    .presentation {
        flex-direction: column;
    }

    .txt-presentation {
        max-width: 90%;
    }

    .txt-form, .mail-form {
        width: 40vh;
    }

    .projet{
        width: 250px;
        height: 175px;
    }

    .gallerie {
        grid-template-columns: repeat(auto-fill, 250px);
    }
    
    .projet img {
        width: 250px;
        height: 175px;
        border-radius: 25px;
    }

    footer h5 {
        font-size: 1rem;
    }
    
    .container-footer {
        flex-direction: column;
        align-items: center;    
    }

    .container-mail {
        justify-content: center;
        margin-bottom: 10px;
    }

    .txt-presentation p {
        text-align:left;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .competences {
        height:290vh;
     }
    .hexagone-cell {
    
        margin: 81.25px 25px;
    }

    .projet:hover img {
        opacity: 1;
    } 
    .projet:hover p{
        opacity: 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    
}

/* Format grand ecran */
@media (min-width: 825px) and (max-width: 1600px) {
    
 
    .hexagone-cell:nth-child(5n + 4) 
    {
      margin-left: calc(50% - 275px);
    }
  
    .hexagone-cell:nth-child(5n + 5) 
    {
      margin-right: calc(50% - 275px);
    }
  
    .hexagone_Hidden:nth-child(5n), 
    .hexagone_Hidden:nth-child(5n + 3) 
    {
      display: block;
    }
  }